DATABASE_URL="postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres"
ACCESS_TOKEN_SECRET="your-access-token-secret"
JWT_SECRET="your-jwt-secret"
REFRESH_TOKEN_SECRET="your-refresh-token-secret"
NEXT_PUBLIC_FEEDBACK_FORM_URL="https://docs.google.com/forms/d/e/1FAIpQLSfaK5vPcQlSZsF9TWZ_6JpHdmN9nZ4_72FHgwWKOy9780YpHA/viewform"
